@page "/about"

<h3>about</h3>
<div class="container">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="col-3">
            <button class="btn btn-primary" value="Test me" @onclick="testfunc">Test</button>
        </div>
    </div>
</div>
@code {
    void testfunc()
    {
        
    }
}
